<div id="<%= dom_id patrimonio_cliente %>">
  <p>
    <strong>Id:</strong>
    <%= patrimonio_cliente.id %>
  </p>

  <p>
    <strong>Contacorrente:</strong>
    <%= patrimonio_cliente.contaCorrente %>
  </p>

  <p>
    <strong>Rendafixa:</strong>
    <%= patrimonio_cliente.rendaFixa %>
  </p>

  <p>
    <strong>Rendavariavel:</strong>
    <%= patrimonio_cliente.rendaVariavel %>
  </p>

</div>
