<div id="<%= dom_id balance %>">
  <p>
    <strong>Idcliente:</strong>
    <%= balance.idCliente %>
  </p>

  <p>
    <strong>Contacorrente:</strong>
    <%= balance.contaCorrente %>
  </p>

  <p>
    <strong>Rendafixa:</strong>
    <%= balance.rendaFixa %>
  </p>

  <p>
    <strong>Rendavariavel:</strong>
    <%= balance.rendaVariavel %>
  </p>

</div>
