<%= form_with(model: patrimonio) do |form| %>
  <% if patrimonio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patrimonio.errors.count, "error") %> prohibited this patrimonio from being saved:</h2>

      <ul>
        <% patrimonio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contaCorrente, style: "display: block" %>
    <%= form.text_field :contaCorrente %>
  </div>

  <div>
    <%= form.label :rendaFixa, style: "display: block" %>
    <%= form.text_field :rendaFixa %>
  </div>

  <div>
    <%= form.label :rendaVariavel, style: "display: block" %>
    <%= form.text_field :rendaVariavel %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
