<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Titulo:</strong>
    <%= agendamento.titulo %>
  </p>

  <p>
    <strong>Datahora:</strong>
    <%= agendamento.datahora %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= agendamento.link %>
  </p>

  <p>
    <strong>Sobre:</strong>
    <%= agendamento.sobre %>
  </p>

</div>
