<p style="color: green"><%= notice %></p>

<%= render @chamado %>

<div>
  <%= link_to "Edit this chamado", edit_chamado_path(@chamado) %> |
  <%= link_to "Back to chamados", chamados_path %>

  <%= button_to "Destroy this chamado", @chamado, method: :delete %>
</div>
